/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
///
///

@forward "./song-preview-card.scss";

#home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
