/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --clr-primary-dark: #0f162d;

  --clr-secondary-white: #ffffff;
  --clr-secondary-gray: #272d42;

  --fw-medium: 500;
  --fw-regular: 400;
}
