/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-gray: #7c7c7c;
  --clr-light-gray: #d5d5d5;
  --clr-very-light-gray: #ededed;

  --fw-medium: 500;
  --fw-regular: 400;
}
