/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --clr-font-dark: #151827;
  --clr-font-light: #85859b;
  --fw-medium: 500;
  --fw-bold: 700;
}
