.text-component {
  max-width: 400px;

  @media (min-width: 768px) {
    max-width: 490px;
  }

  & &__heading {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.2%;
    margin-top: 3rem;
    font-weight: var(--fw-medium);
  }

  & &__desc {
    line-height: 24px;
    font-weight: var(--fw-regular);
  }
}
