/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

.home-page {
  display: grid;
  place-content: center;
  min-height: 100vh;

  & &__card {
    display: grid;
    gap: 32px;
    box-sizing: border-box;
    max-width: 608px;
    background-color: var(--clr-white);
    border-radius: 10px;
    padding: 16px;
    padding-bottom: 22px;
  }

  & &__img {
    display: block;
  }

  & &__user {
    display: flex;
    align-items: center;
  }

  & &__profile-picture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }

  & &__username {
    color: var(--clr-black);
    font-weight: var(--fw-medium);
    font-size: 14px;
    flex-grow: 1;
  }

  & &__recently-active {
    font-size: 14px;
    font-weight: var(--fw-regular);
    color: var(--clr-gray);
  }

  & &__title {
    margin: 0;
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 24px;
    font-weight: var(--fw-medium);
  }

  & &__desc {
    line-height: 21px;
    font-weight: var(--fw-regular);
    color: var(--clr-gray);
  }

  & &__button {
    line-height: 21px;
    display: flex;
    gap: 12px;
    color: var(--clr-black);
    font-weight: var(--fw-medium);
    text-decoration: none;
  }
}
